<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome to the Candy Chase!</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>Welcome to the <ion-text color="primary"><sub>Candy Chase</sub></ion-text>!  🍭</p>
  <h2>Leaderboard</h2>
  <ion-list lines="full" class="list-color">
    <ion-item>hello</ion-item>
  </ion-list>
  <ion-button id="new-round" shape="round" class="ion-padding">START NEW ROUND</ion-button>
  <ion-alert
    trigger="new-round"
    header="Please enter your name"
    [buttons]="alertButtons"
    [inputs]="alertInputs"
  ></ion-alert>
</ion-content>
