h1{
font-family: "Hey Elsie", sans-serif;
  color: #707070;
}

h2{
  font-family: "Metropolis-Bold", sans-serif;
  color: #707070;
}

ion-content ion-button{
  font-family: "Metropolis-ExtraBold", sans-serif;
}
