<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelTask()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>Task 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task 4</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2>Your phone is dying, connect it as fast as possible!</h2>
  <p>You've collected {{ lollipopService.getLollipopsCount() }} lollipop(s) so far.</p>
  <p>You've collected {{ poisonsService.getPoisonsCount() }} poison(s) so far.</p>
  <ion-text *ngIf="isPhoneCharging">
    <p>{{ congratulationsMessage }}!</p>
  </ion-text>
  <ion-text *ngIf="!isPhoneCharging">
    <p>{{notChargingMessage}}</p>
  </ion-text>
  <ion-text *ngIf="isPhoneChargingSlow">
    <p>{{slowChargingMessage}}</p>
  </ion-text>
  <ion-button (click)="goToFinalPage()" [disabled]="!isPhoneCharging">NEXT</ion-button>
</ion-content>
