<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelTask()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>Task 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2>Walk 15 meters.</h2>
  <p>You still need to walk {{ remainingDistance | number : '1.0-0' }} meters to complete this task.</p>
  <ion-button (click)="goToTaskThree()">NEXT</ion-button>
</ion-content>
