<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelTask()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>Task 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Go to the ping-pong table</h1>

  <p>You are {{ distanceToTarget | number : '1.0-0' }}  meters away from your destination.</p>
  <ng-template #loading>
    <p>Calculating distance...</p>
  </ng-template>
  <ion-text *ngIf="isLocationReached">
    <p>{{reachedMessage}}</p>
  </ion-text>
<ion-button (click)="goToTaskTwo()">NEXT</ion-button>
</ion-content>
