<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Final Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Final Page</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2>Congratulations!<br> You completed all of your quests. </h2>
<ion-list lines="full">
  <ion-item>Time overall:</ion-item>
  <ion-item>Collected candy:</ion-item>
  <ion-item>Encountered poison:</ion-item>
  <ion-item>Achieved rank:</ion-item>
</ion-list>
</ion-content>
